<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.magdy.recogplant" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/rplanti"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view001"
            android:label="@string/title_activity_view001" >
        </activity>
        <activity
            android:name=".viewf001"
            android:label="@string/title_activity_viewf001" >
        </activity>
        <activity android:name=".viewf002" >
        </activity>
        <activity android:name=".view002" >
        </activity>
        <activity android:name=".view003" >
        </activity>
        <activity android:name=".view004" >
        </activity>
        <activity android:name=".view005" >
        </activity>
        <activity android:name=".viewf003" >
        </activity>
        <activity android:name=".viewf004" >
        </activity>
        <activity android:name=".view006" >
        </activity>
        <activity android:name=".viewf005" >
        </activity>
        <activity android:name=".view007" >
        </activity>
        <activity android:name=".viewf006" >
        </activity>
        <activity android:name=".view008" >
        </activity>
        <activity android:name=".viewf007" >
        </activity>
        <activity android:name=".viewf008" >
        </activity>
        <activity android:name=".view009" >
        </activity>
        <activity android:name=".view010" >
        </activity>
        <activity android:name=".viewf009" >
        </activity>
        <activity android:name=".view011" >
        </activity>
        <activity android:name=".view012" >
        </activity>
        <activity android:name=".viewf010" >
        </activity>
        <activity android:name=".viewf011" >
        </activity>
    </application>

</manifest>
