<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.magdy.recogplant" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/rplanti"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".view001"
            android:label="@string/title_activity_view001" >
        </activity>
        <activity
            android:name=".viewf001"
            android:label="@string/title_activity_viewf001" >
        </activity>
        <activity android:name=".viewf002" >
        </activity>
        <activity android:name=".view002" >
        </activity>
        <activity android:name=".view003" >
        </activity>
        <activity android:name=".view004" >
        </activity>
        <activity android:name=".view005" >
        </activity>
        <activity android:name=".viewf003" >
        </activity>
        <activity android:name=".viewf004" >
        </activity>
        <activity android:name=".view006" >
        </activity>
        <activity android:name=".viewf005" >
        </activity>
        <activity android:name=".view007" >
        </activity>
        <activity android:name=".viewf006" >
        </activity>
        <activity android:name=".view008" >
        </activity>
        <activity android:name=".viewf007" >
        </activity>
        <activity android:name=".viewf008" >
        </activity>
        <activity android:name=".view009" >
        </activity>
        <activity android:name=".view010" >
        </activity>
        <activity android:name=".viewf009" >
        </activity>
        <activity android:name=".view011" >
        </activity>
        <activity android:name=".view012" >
        </activity>
        <activity android:name=".viewf010" >
        </activity>
        <activity android:name=".viewf011" >
        </activity>
        <activity android:name=".menu_principal" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".galeria" >
        </activity>
        <activity android:name=".creditos" >
        </activity>
        <activity android:name=".viewf012" >
        </activity>
        <activity android:name=".view013" >
        </activity>
        <activity android:name=".view014" >
        </activity>
        <activity android:name=".viewf013" >
        </activity>
        <activity android:name=".view015" >
        </activity>
        <activity android:name=".viewf014" >
        </activity>
        <activity android:name=".viewf015" >
        </activity>
        <activity android:name=".view016" >
        </activity>
        <activity android:name=".viewf016" >
        </activity>
        <activity android:name=".view017" >
        </activity>
        <activity android:name=".view018" >
        </activity>
        <activity android:name=".view019" >
        </activity>
        <activity android:name=".viewf018" >
        </activity>
        <activity android:name=".viewf017" >
        </activity>
        <activity android:name=".view020" >
        </activity>
        <activity android:name=".view021" >
        </activity>
        <activity android:name=".viewf019" >
        </activity>
        <activity android:name=".viewf020" >
        </activity>
        <activity android:name=".view022" >
        </activity>
        <activity android:name=".viewf021" >
        </activity>
        <activity android:name=".viewf022" >
        </activity>
        <activity android:name=".view023" >
        </activity>
        <activity android:name=".view024" >
        </activity>
        <activity android:name=".view025" >
        </activity>
        <activity android:name=".viewf023" >
        </activity>
        <activity android:name=".viewf024" >
        </activity>
        <activity android:name=".view026" >
        </activity>
        <activity android:name=".view040" >
        </activity>
        <activity android:name=".view027" >
        </activity>
        <activity android:name=".viewf025" >
        </activity>
        <activity android:name=".viewf026" >
        </activity>
        <activity android:name=".viewf027" >
        </activity>
        <activity android:name=".view028" >
        </activity>
        <activity android:name=".view029" >
        </activity>
        <activity android:name=".view030" >
        </activity>
        <activity android:name=".view031" >
        </activity>
        <activity android:name=".view032" >
        </activity>
        <activity android:name=".view033" >
        </activity>
        <activity android:name=".view034" >
        </activity>
        <activity android:name=".view035" >
        </activity>
        <activity android:name=".view036" >
        </activity>
        <activity android:name=".view037" >
        </activity>
        <activity android:name=".view038" >
        </activity>
        <activity android:name=".view039" >
        </activity>
        <activity android:name=".view041" >
        </activity>
        <activity android:name=".view042" >
        </activity>
        <activity android:name=".view043" >
        </activity>
        <activity android:name=".view044" >
        </activity>
        <activity android:name=".view045" >
        </activity>
        <activity android:name=".view046" >
        </activity>
        <activity android:name=".view047" >
        </activity>
        <activity android:name=".view048" >
        </activity>
        <activity android:name=".view049" >
        </activity>
        <activity android:name=".view050" >
        </activity>
        <activity android:name=".view051" >
        </activity>
        <activity android:name=".view052" >
        </activity>
        <activity android:name=".view053" >
        </activity>
        <activity android:name=".view054" >
        </activity>
        <activity android:name=".view055" >
        </activity>
        <activity android:name=".view056" >
        </activity>
        <activity android:name=".view057" >
        </activity>
        <activity android:name=".view058" >
        </activity>
        <activity android:name=".view059" >
        </activity>
        <activity android:name=".view060" >
        </activity>
        <activity android:name=".view061" >
        </activity>
        <activity android:name=".view062" >
        </activity>
        <activity android:name=".view063" >
        </activity>
        <activity android:name=".view064" >
        </activity>
        <activity android:name=".view065" >
        </activity>
        <activity android:name=".view066" >
        </activity>
        <activity android:name=".view067" >
        </activity>
        <activity android:name=".view068" >
        </activity>
        <activity android:name=".view069" >
        </activity>
        <activity android:name=".view070" >
        </activity>
        <activity android:name=".view071" >
        </activity>
        <activity android:name=".view072" >
        </activity>
        <activity android:name=".view073" >
        </activity>
        <activity android:name=".view074" >
        </activity>
        <activity android:name=".view075" >
        </activity>
        <activity android:name=".view076" >
        </activity>
        <activity android:name=".view077" >
        </activity>
        <activity android:name=".view078" >
        </activity>
        <activity android:name=".view079" >
        </activity>
        <activity android:name=".view080" >
        </activity>
        <activity android:name=".view081" >
        </activity>
        <activity android:name=".view082" >
        </activity>
        <activity android:name=".view083" >
        </activity>
        <activity android:name=".view084" >
        </activity>
        <activity android:name=".view085" >
        </activity>
        <activity android:name=".viewf028" >
        </activity>
        <activity android:name=".viewf030" >
        </activity>
        <activity android:name=".viewf029" >
        </activity>
        <activity android:name=".viewf031" >
        </activity>
        <activity android:name=".viewf032" >
        </activity>
        <activity android:name=".viewf033" >
        </activity>
        <activity android:name=".viewf034" >
        </activity>
        <activity android:name=".viewf035" >
        </activity>
        <activity android:name=".viewf036" >
        </activity>
        <activity android:name=".viewf037" >
        </activity>
        <activity android:name=".viewf038" >
        </activity>
        <activity android:name=".viewf039" >
        </activity>
        <activity android:name=".viewf040" >
        </activity>
        <activity android:name=".viewf041" >
        </activity>
        <activity android:name=".viewf042" >
        </activity>
        <activity android:name=".viewf043" >
        </activity>
        <activity android:name=".viewf044" >
        </activity>
        <activity android:name=".viewf045" >
        </activity>
        <activity android:name=".viewf046" >
        </activity>
        <activity android:name=".viewf047" >
        </activity>
        <activity android:name=".viewf048" >
        </activity>
        <activity android:name=".viewf049" >
        </activity>
        <activity android:name=".viewf050" >
        </activity>
        <activity android:name=".viewf051" >
        </activity>
        <activity android:name=".viewf052" >
        </activity>
        <activity android:name=".viewf053" >
        </activity>
        <activity android:name=".viewf054" >
        </activity>
        <activity android:name=".viewf055" >
        </activity>
        <activity android:name=".viewf056" >
        </activity>
        <activity android:name=".viewf057" >
        </activity>
        <activity android:name=".viewf058" >
        </activity>
        <activity android:name=".viewf059" >
        </activity>
        <activity android:name=".viewf060" >
        </activity>
        <activity android:name=".viewf061" >
        </activity>
        <activity android:name=".viewf062" >
        </activity>
        <activity android:name=".viewf063" >
        </activity>
        <activity android:name=".viewf064" >
        </activity>
        <activity android:name=".viewf065" >
        </activity>
        <activity android:name=".viewf066" >
        </activity>
        <activity android:name=".viewf067" >
        </activity>
        <activity android:name=".viewf068" >
        </activity>
        <activity android:name=".viewf069" >
        </activity>
        <activity android:name=".viewf070" >
        </activity>
        <activity android:name=".viewf071" >
        </activity>
        <activity android:name=".viewf072" >
        </activity>
        <activity android:name=".viewf073" >
        </activity>
        <activity android:name=".viewf074" >
        </activity>
        <activity android:name=".viewf075" >
        </activity>
        <activity android:name=".viewf076" >
        </activity>
        <activity android:name=".viewf077" >
        </activity>
        <activity android:name=".viewf078" >
        </activity>
        <activity android:name=".viewf079" >
        </activity>
        <activity android:name=".viewf081" >
        </activity>
        <activity android:name=".viewf080" >
        </activity>
        <activity android:name=".viewf082" >
        </activity>
        <activity android:name=".viewf083" >
        </activity>
        <activity android:name=".viewf084" >
        </activity>
        <activity android:name=".viewf085" >
        </activity>
        <activity android:name=".viewf086" >
        </activity>
        <activity android:name=".viewf087" >
        </activity>
        <activity android:name=".viewf088" >
        </activity>
        <activity android:name=".viewf089" >
        </activity>
        <activity android:name=".viewf061_5" >
        </activity>
        <activity android:name=".viewf051_5" >
        </activity>
        <activity android:name=".viewf065_5" >
        </activity>
        <activity android:name=".view086" >
        </activity>
        <activity android:name=".view087" >
        </activity>
        <activity android:name=".view088" >
        </activity>
        <activity android:name=".view089" >
        </activity>
        <activity android:name=".view090" >
        </activity>
        <activity android:name=".view091" >
        </activity>
        <activity android:name=".view098" >
        </activity>
        <activity android:name=".view092" >
        </activity>
        <activity android:name=".view093" >
        </activity>
        <activity android:name=".view094" >
        </activity>
        <activity android:name=".view095" >
        </activity>
        <activity android:name=".view096" >
        </activity>
        <activity android:name=".view097" >
        </activity>
        <activity android:name=".view099" >
        </activity>
        <activity android:name=".view100" >
        </activity>
        <activity android:name=".view101" >
        </activity>
        <activity android:name=".view102" >
        </activity>
        <activity android:name=".view103" >
        </activity>
        <activity android:name=".view104" >
        </activity>
        <activity android:name=".view105" >
        </activity>
        <activity android:name=".view106" >
        </activity>
        <activity android:name=".view107" >
        </activity>
        <activity android:name=".view108" >
        </activity>
        <activity android:name=".view109" >
        </activity>
        <activity android:name=".view110" >
        </activity>
        <activity android:name=".view111" >
        </activity>
        <activity android:name=".view112" >
        </activity>
        <activity android:name=".view113" >
        </activity>
        <activity android:name=".view114" >
        </activity>
        <activity android:name=".view115" >
        </activity>
        <activity android:name=".view116" >
        </activity>
        <activity android:name=".view117" >
        </activity>
        <activity android:name=".view118" >
        </activity>
        <activity android:name=".view119" >
        </activity>
        <activity android:name=".view120" >
        </activity>
        <activity android:name=".view121" >
        </activity>
        <activity android:name=".view122" >
        </activity>
        <activity android:name=".view123" >
        </activity>
        <activity android:name=".view124" >
        </activity>
        <activity android:name=".view125" >
        </activity>
        <activity android:name=".view157" >
        </activity>
        <activity android:name=".view126" >
        </activity>
        <activity android:name=".view127" >
        </activity>
        <activity android:name=".view128" >
        </activity>
        <activity android:name=".view129" >
        </activity>
        <activity android:name=".view130" >
        </activity>
        <activity android:name=".view131" >
        </activity>
        <activity android:name=".view132" >
        </activity>
        <activity android:name=".view133" >
        </activity>
        <activity android:name=".view134" >
        </activity>
        <activity android:name=".view135" >
        </activity>
        <activity android:name=".view137" >
        </activity>
        <activity android:name=".view136" >
        </activity>
        <activity android:name=".view138" >
        </activity>
        <activity android:name=".view139" >
        </activity>
        <activity android:name=".view140" >
        </activity>
        <activity android:name=".view141" >
        </activity>
        <activity android:name=".view142" >
        </activity>
        <activity android:name=".view143" >
        </activity>
        <activity android:name=".view144" >
        </activity>
        <activity android:name=".view145" >
        </activity>
        <activity android:name=".view146" >
        </activity>
        <activity android:name=".view147" >
        </activity>
        <activity android:name=".view148" >
        </activity>
        <activity android:name=".view149" >
        </activity>
        <activity android:name=".view150" >
        </activity>
        <activity android:name=".view151" >
        </activity>
        <activity android:name=".view152" >
        </activity>
        <activity android:name=".view153" >
        </activity>
        <activity android:name=".view154" >
        </activity>
        <activity android:name=".view155" >
        </activity>
        <activity android:name=".view156" >
        </activity>
        <activity android:name=".viewf090" >
        </activity>
        <activity android:name=".viewf091" >
        </activity>
        <activity android:name=".viewf092" >
        </activity>
        <activity android:name=".viewf093" >
        </activity>
        <activity android:name=".viewf094" >
        </activity>
        <activity android:name=".viewf095" >
        </activity>
        <activity android:name=".viewf096" >
        </activity>
        <activity android:name=".viewf097" >
        </activity>
        <activity android:name=".viewf098" >
        </activity>
        <activity android:name=".viewf099" >
        </activity>
        <activity android:name=".viewf100" >
        </activity>
        <activity android:name=".viewf101" >
        </activity>
        <activity android:name=".viewf102" >
        </activity>
        <activity android:name=".viewf103" >
        </activity>
        <activity android:name=".viewf104" >
        </activity>
        <activity android:name=".viewf106" >
        </activity>
        <activity android:name=".viewf105" >
        </activity>
        <activity android:name=".viewf107" >
        </activity>
        <activity android:name=".viewf108" >
        </activity>
        <activity android:name=".viewf109" >
        </activity>
        <activity android:name=".viewf110" >
        </activity>
        <activity android:name=".viewf111" >
        </activity>
        <activity android:name=".viewf112" >
        </activity>
        <activity android:name=".viewf113" >
        </activity>
        <activity android:name=".viewf114" >
        </activity>
        <activity android:name=".viewf115" >
        </activity>
        <activity android:name=".viewf116" >
        </activity>
        <activity android:name=".viewf117" >
        </activity>
        <activity android:name=".viewf118" >
        </activity>
        <activity android:name=".viewf119" >
        </activity>
        <activity android:name=".viewf120" >
        </activity>
        <activity android:name=".viewf121" >
        </activity>
        <activity android:name=".viewf122" >
        </activity>
        <activity android:name=".viewf123" >
        </activity>
        <activity android:name=".viewf124" >
        </activity>
        <activity android:name=".viewf125" >
        </activity>
        <activity android:name=".viewf126" >
        </activity>
        <activity android:name=".viewf127" >
        </activity>
        <activity android:name=".viewf128" >
        </activity>
        <activity android:name=".viewf129" >
        </activity>
        <activity android:name=".viewf130" >
        </activity>
        <activity android:name=".viewf131" >
        </activity>
        <activity android:name=".viewf132" >
        </activity>
        <activity android:name=".viewf133" >
        </activity>
        <activity android:name=".viewf134" >
        </activity>
        <activity android:name=".viewf135" >
        </activity>
        <activity android:name=".viewf136" >
        </activity>
        <activity android:name=".viewf137" >
        </activity>
        <activity android:name=".viewf138" >
        </activity>
        <activity android:name=".viewf139" >
        </activity>
        <activity android:name=".viewf140" >
        </activity>
        <activity android:name=".viewf141" >
        </activity>
        <activity android:name=".viewf142" >
        </activity>
        <activity android:name=".viewf143" >
        </activity>
        <activity android:name=".viewf144" >
        </activity>
        <activity android:name=".viewf145" >
        </activity>
        <activity android:name=".viewf146" >
        </activity>
        <activity android:name=".viewf147" >
        </activity>
        <activity android:name=".viewf148" >
        </activity>
        <activity android:name=".viewf149" >
        </activity>
        <activity android:name=".viewf150" >
        </activity>
        <activity android:name=".viewf151" >
        </activity>
        <activity android:name=".viewf152" >
        </activity>
        <activity android:name=".viewf157" >
        </activity>
        <activity android:name=".viewf153" >
        </activity>
        <activity android:name=".viewf154" >
        </activity>
        <activity android:name=".viewf155" >
        </activity>
        <activity android:name=".viewf156" >
        </activity>
    </application>

</manifest>
